# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.pnp.*
/runner/package-lock.json
/runner/yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.egg-info/
.eggs/
*.so
*.log
venv/
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Other temp files
*.swp
*~
